<!doctype html>
<html>
<head>
	<link rel='stylesheet' href='/static/style.css'>
</head>
	<body>
		<h2>{{c['name']}}</h2>
		<div class='properties'>
			<div>
				<div>Capital</div>
				<div>{{c['capital']}}</div>
			</div>
			<div>
				<div>Continent</div>
				<div><a href='../continent/{{c.continent}}'>{{c['continent']}}</a></div>
			</div>
			<div>
				<div>Population</div>
				<div>{{"{:,.0f}".format(c['population'])}}</div>
			</div>
			<div>
				<div>GDP (million $)</div>
				<div>{{ "{:,.0f}".format(c['gdp']/1000000) }}</div>
			</div>			
			<div>
				<div>Area (km²)</div>
				<div>{{ "{:,.0f}".format(c['area']) }}</div>
			</div>			
			<div>
				<div>tld</div>
				<div>.{{c['tld']}}</div>
			</div>
		</div>
		<img src="/static/flags/{{c['tld']}}.gif" class='big'>
		<div class='nav_button'>
			<a href="/editCountryByName/{{c.name}}"><input type="button" value="Edit"></a>
		</div>	
		<div class='nav_button'>
			<a href="/delete/{{c.name}}"><input type="button" value="Delete"></a>
		</div>
	</body>
</html>